{%- if the_article == blank -%}
  {%- assign the_article = article -%}
{%- endif -%}

{%- assign categories = 'Love Your Hair, Love Yourself, Love The Earth, Love Your Skin, Musings' | split: ', ' -%}

{% capture article_category_content %}
  {% for tag in the_article.tags %}
    {% for category in categories %}
      {% if tag == category %}
        <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endcapture %}

{% unless article_category_content == blank %}
  <p class="blog__article__category">
    {{ article_category_content }}
  </p>
{% endunless %}
