{%- comment -%}
  https://stackoverflow.com/questions/37340705/shopify-liquid-find-number-of-days-between-two-dates
  convert our dates to Number of seconds
  since 1970-01-01 00:00:00 UTC
{%- endcomment -%}

{%- if the_article == blank -%}
  {%- assign the_article = article -%}
{%- endif -%}

{% assign dateStart = the_article.published_at | date: '%s' %}
{% assign nowTimestamp = 'now' | date: '%s' %}

{% comment %} difference in seconds {% endcomment %}
{% assign diffSeconds = nowTimestamp | minus: dateStart %}

{% comment %} difference in days {% endcomment %}
{% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}

<time datetime="{{ the_article.published_at }}" class="blog__article__date">
  {% if diffDays == 0 %}
    Today
  {% elsif diffDays == 1 %}
    {{ diffDays }} day ago
  {% else %}
    {{ diffDays }} days ago
  {% endif %}
</time>