{%- if the_article == blank -%}
  {%- assign the_article = article -%}
{%- endif -%}

<div class="blog__article__category-and-date">
  {%- include 'article-category' with the_article: the_article -%}
  {%- include 'article-date' with the_article: the_article -%}
</div>

{%- assign the_article = false -%}
