{% assign is_video = false %}
{% for tag in article.tags %}
  {% if tag == 'video' %}
    {% assign is_video = true %}
  {% endif %}
{% endfor %}
<div class="grid__item {{ blog_grid }} article-grid-item">
  <div class="blog__article">

    <a class="blog__link" href="{{ article.url }}">
      {% if article.image %}
        <div class="blog__article__image{% if is_video %} blog__article__image--video{% endif %}" style="background-image: url('{{ article.image | img_url: 'x630' }}')"></div>
      {% else %}
        <div class="blog__article__image{% if is_video %} blog__article__image--video{% endif %}" style="background-color: #f2f2f2;"></div>
      {% endif %}
    </a>

    <div class="blog__article__content">

      {% include 'article-category-and-date' %}

      <h3 class="h4 blog__article__title"><a class="blog__link" href="{{ article.url }}">{{ article.title }}</a></h3>

      <div class="rte blog__article__text">
        {% unless article.image %}
          {% if article.excerpt == blank %}
            {{ article.content | strip_html | truncate: 200 }}
          {% else %}
            {{ article.excerpt | strip_html | truncate: 200 }}
          {% endif %}
        {% endunless %}
      </div>

      <a
       href="{{ article.url }}"
       class="btn btn--clear btn--large uppercase">{% if is_video %}Watch the Tutorial{% else %}Read Full Post{% endif %}</a>

    </div>

  </div>
</div>
