<div class="wrapper">
  <div class="mobile-wrapper">
    <div class="header-cart__wrapper">
      <a href="/cart" class="CartToggle header-cart"></a>
      <span class="header-cart__bubble cartCount{% if cart.item_count < 1 %} hidden-count{% endif %}"></span>
    </div>
    <div class="logo-wrapper{% if section.settings.logo %} logo-wrapper--image{% endif %}">
      {% capture header_logo_html %}
        {% if section.settings.logo %}
          <a href="/" itemprop="url">
            {% capture image_size %}{{ section.settings.logo_max_limit }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 class="logo-image"
                 itemprop="logo">
          </a>
        {% else %}
          <a href="/" itemprop="url">{{ shop.name }}</a>
        {% endif %}
      {% endcapture %}
      {% if template == 'index' %}
        <h1 class="h4 header-logo" itemscope itemtype="http://schema.org/Organization">
          {{ header_logo_html }}
        </h1>
      {% else %}
        <div class="h4 header-logo" itemscope itemtype="http://schema.org/Organization">
          {{ header_logo_html }}
        </div>
      {% endif %}
    </div>
    <a href class="menuToggle header-hamburger"></a>
  </div>

  <div class="header-menu nav-wrapper">
    <ul class="main-menu accessibleNav">
      {% assign main_menu_linklist_left = section.settings.main_menu_linklist_left %}
      {% unless main_menu_linklist_left == blank %}
        {% for link in linklists[main_menu_linklist_left].links %}
          {% include 'nav-item' %}
        {% endfor %}
      {% endunless %}
      {% assign main_menu_linklist_right = section.settings.main_menu_linklist_right %}
      {% unless main_menu_linklist_right == blank %}
        {% for link in linklists[main_menu_linklist_right].links %}
          {% include 'nav-item' %}
        {% endfor %}
      {% endunless %}
    </ul>
  </div>
</div>
