<div class="grid">
  <div class="grid__item grid__item--left five-twelfths">
    {% assign main_menu_linklist_left = section.settings.main_menu_linklist_left %}
    {% unless main_menu_linklist_left == blank %}
    <div class="header-menu header-menu--left nav-wrapper text-left">
      <ul class="main-menu main-menu--left accessibleNav">
        {% for link in linklists[main_menu_linklist_left].links %}
          {% include 'nav-item' %}
        {% endfor %}
      </ul>
    </div>
    {% endunless %}
  </div>
  <div class="grid__item grid__item--center two-twelfths">
    <div class="logo-wrapper{% if section.settings.logo %} logo-wrapper--image{% endif %}">
      {% capture header_logo_html %}
        {% if section.settings.logo %}
          <a href="/" itemprop="url">
            {% capture image_size %}{{ section.settings.logo_max_limit }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 class="logo-image"
                 style="display:inline-block;"
                 itemprop="logo">
          </a>
        {% else %}
          <a href="/" itemprop="url">{{ shop.name }}</a>
        {% endif %}
      {% endcapture %}
      {% if template == 'index' %}
        <h1 class="h4 header-logo text-center" itemscope itemtype="http://schema.org/Organization">
          {{ header_logo_html }}
        </h1>
      {% else %}
        <div class="h4 header-logo text-center" itemscope itemtype="http://schema.org/Organization">
          {{ header_logo_html }}
        </div>
      {% endif %}
    </div>

  </div>
  <div class="grid__item grid__item--right five-twelfths">
    <div class="header-menu header-menu--right nav-wrapper text-right">
      {% assign main_menu_linklist_right = section.settings.main_menu_linklist_right %}
      {% unless main_menu_linklist_right == blank %}
      <ul class="main-menu main-menu--right accessibleNav">
        {% for link in linklists[main_menu_linklist_right].links %}
          {% include 'nav-item' %}
        {% endfor %}
        <li class="cart-text-link">
          <a href="/cart" class="CartToggle">
            <span class="cartText">{{ 'layout.cart.title' | t }}</span>
            <span class="cartIcon"></span>
            <span class="cartCost {% if cart.item_count < 1 %} hidden-count {% endif %}">(<span class="money">{{ cart.total_price | money }}</span>)</span>
          </a>
        </li>
      </ul>
      {% endunless %}
    </div>
  </div>
</div>
