<!-- /snippets/newsletter-form.liquid -->
{% form 'customer' %}
  {% if form.posted_successfully? %}
    <p><em>{{ 'general.newsletter_form.subscribed' | t }}</em></p>
  {% elsif form.errors %}
    {% for field in form.errors %}
      <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
    {% endfor %}
  {% endif %}

  <input type="hidden" name="contact[accepts_marketing]" value="true">
  <div class="input-group newsletter-form">
    <input type="email"
           placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
           id="mail"
           class="input-group-field"
           aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}"
           autocorrect="off"
           autocapitalize="off"
           name="contact[email]" />
    <span class="input-group-btn">
      <button type="submit"
              class="btn btn--clear uppercase"
              name="subscribe"
              id="subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
    </span>
  </div>
{% endform %}
