<!-- /snippets/page-campagin-bottom.liquid -->
{% unless section == blank %}

  {% comment %}Product{% endcomment %}
  {% assign product_image = section.settings.product_image %}
  {% assign product_tagline = section.settings.product_tagline %}

  {% comment %}Benefits{% endcomment %}
  {% assign benefits_heading = section.settings.benefits_heading %}
  {% assign benefits_items = '' %}
  {% for block in section.blocks %}
    {% unless block.settings.title == blank %}
      {% unless benefits_items == '' %}
        {% assign benefits_items = benefits_items | append: '---' %}
      {% endunless %}
      {% assign benefits_items = benefits_items | append: block.settings.title %}
    {% endunless %}
  {% endfor %}

  {% comment %}Content{% endcomment %}
  {% assign bottom_content_left_image = blank %}
  {% assign bottom_content_right_image = blank %}
  {% unless section.settings.bottom_content_left_image == blank %}
    {% assign bottom_content_left_image = section.settings.bottom_content_left_image | img_url: '800x' %}
  {% endunless %}
  {% unless section.settings.bottom_content_right_image == blank %}
    {% assign bottom_content_right_image = section.settings.bottom_content_right_image | img_url: '800x' %}
  {% endunless %}
  {% assign bottom_content_left_text = section.settings.bottom_content_left_text %}
  {% assign bottom_content_right_text = section.settings.bottom_content_right_text %}

  {% comment %}CTA{% endcomment %}
  {% assign cta_image = section.settings.cta_image %}
  {% assign cta_btn_text = section.settings.cta_btn_text %}
  {% assign cta_btn_link = section.settings.cta_btn_link %}

{% else %}

  {% comment %}Product{% endcomment %}
  {% assign product_image = page.metafields.campaign.product_image %}
  {% assign product_tagline = page.metafields.campaign.product_tagline %}

  {% comment %}Benefits{% endcomment %}
  {% assign benefits_heading = page.metafields.campaign.benefits_heading %}
  {% assign benefits_items = page.metafields.campaign.benefits_items %}

  {% comment %}Content{% endcomment %}
  {% assign bottom_content_left_image = page.metafields.campaign.bottom_content_left_image %}
  {% assign bottom_content_right_image = page.metafields.campaign.bottom_content_right_image %}
  {% assign bottom_content_left_text = page.metafields.campaign.bottom_content_left_text %}
  {% assign bottom_content_right_text = page.metafields.campaign.bottom_content_right_text %}

  {% comment %}CTA{% endcomment %}
  {% assign cta_image = page.metafields.campaign.cta_image %}
  {% assign cta_btn_text = page.metafields.campaign.cta_btn_text %}
  {% assign cta_btn_link = page.metafields.campaign.cta_btn_link %}

{% endunless %}

{% comment %}
  <table>
    <tr>
      <td>benefits_heading</td>
      <td>{{ benefits_heading }}</td>
    </tr>
    <tr>
      <td>benefits_items</td>
      <td>{{ benefits_items }}</td>
    </tr>

    <tr>
      <td>bottom_content_left_image</td>
      <td>{{ bottom_content_left_image }}</td>
    </tr>
    <tr>
      <td>bottom_content_left_text</td>
      <td>{{ bottom_content_left_text }}</td>
    </tr>
    <tr>
      <td>bottom_content_right_image</td>
      <td>{{ bottom_content_right_image }}</td>
    </tr>
    <tr>
      <td>bottom_content_right_text</td>
      <td>{{ bottom_content_right_text }}</td>
    </tr>

    <tr>
      <td>cta_image</td>
      <td>{{ cta_image }}</td>
    </tr>
    <tr>
      <td>cta_btn_text</td>
      <td>{{ cta_btn_text }}</td>
    </tr>
    <tr>
      <td>cta_btn_link</td>
      <td>{{ cta_btn_link }}</td>
    </tr>
  </table>
{% endcomment %}

{% comment %}
  ==============================================================================
{% endcomment %}

<section class="campaign__product page-margin text-center">
  <div class="campaign__product__image">
    <div class="wrapper">
      <img src="{{ product_image | img_url: '1000x' }}" />
    </div>
  </div>
  <div class="campaign__product__tagline bg--pink">
    <div class="wrapper">
      <h2>{{ product_tagline }}</h2>
    </div>
  </div>
</section>

<section class="campaign__benefits product__features product__features--benefits">
  <div class="wrapper text-center">
    <div class="grid">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">

        <h2>{{ benefits_heading }}</h2>

        {% unless benefits_items == blank %}
          <div class="grid-uniform">
            {% assign benefits_items = benefits_items | split: '---' %}
            {% for benefits_item in benefits_items %}
              <div class="grid__item small--one-half medium--one-third large--one-sixth product__feature">
                <img src="{{ 'icon-check.png' | asset_img_url: '200x' }}" alt="" class="product__feature__icon">
                <p class="product__feature__text">
                  {{ benefits_item }}
                </p>
              </div>
            {% endfor %}
          </div>
        {% endunless %}

      </div>
    </div>
  </div>
</section>

<section class="campaign__blocks">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter">

        <div class="grid large--hide">
          <div class="campaign__block grid__item">
            <p class="campaign__block__text text-center">{{ bottom_content_left_text }}</p>
            <div class="campaign__block__images">
              <img class="campaign__block__image campaign__block__image--left" src="{{ bottom_content_left_image }}" />
              <img class="campaign__block__image campaign__block__image--right" src="{{ bottom_content_right_image }}" />
            </div>
            <p class="campaign__block__text text-center">{{ bottom_content_right_text }}</p>
          </div>
        </div>

        <div class="grid small--hide medium--hide">
          <div class="campaign__block campaign__block--left grid__item large--one-half">
            <img src="{{ bottom_content_left_image }}" />
            <p class="campaign__block__text text-left">{{ bottom_content_left_text }}</p>
          </div>
          <div class="campaign__block campaign__block--right grid__item large--one-half">
            <p class="campaign__block__text text-right">{{ bottom_content_right_text }}</p>
            <img src="{{ bottom_content_right_image }}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% unless cta_image == blank and cta_btn_link == blank and cta_btn_text == blank %}
  <div class="campaign__cta">
    <div class=" homepage-image preventOverflow use_screen_one_third mobile_use_screen_one_third"
     data-section-id="{{ section.id }}"
     data-section-type="banner"
     data-img-src="{{ cta_image | img_url: '2000x' }}">

      {% unless cta_btn_link == blank and cta_btn_text == blank %}
        <div class="content--centered">
          <div class="text-center preventOverflowContent">
            <a class="btn btn--white" href="{{ cta_btn_link }}">{{ cta_btn_text }}</a>
          </div>
        </div>
      {% endunless %}

      <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
      <!-- <div class="background-size-cover small--hide" style="background-image: url('{{ cta_image | img_url: '2000x' }}');"></div> -->

    </div>
  </div>
{% endunless %}