{% unless section == blank %}

  {% assign campaign_feature_heading = section.settings.title %}
  {% assign campaign_feature_titles = "" %}
  {% assign campaign_feature_icons = "" %}

  {% for block in section.blocks %}
    {% unless campaign_feature_titles == '' %}
      {% assign campaign_feature_titles = campaign_feature_titles | append: '---' %}
    {% endunless %}
    {% assign campaign_feature_titles = campaign_feature_titles | append: block.settings.title %}

    {% unless campaign_feature_icons == '' %}
      {% assign campaign_feature_icons = campaign_feature_icons | append: '---' %}
    {% endunless %}
    {% assign icon_url = block.settings.icon | img_url: '160x160', scale: 2 %}
    {% assign campaign_feature_icons = campaign_feature_icons | append: icon_url %}
  {% endfor %}

{% else %}

  {% assign campaign_feature_heading = page.metafields.campaign.campaign_feature_heading %}
  {% assign campaign_feature_titles = page.metafields.campaign.campaign_feature_titles %}
  {% assign campaign_feature_icons = page.metafields.campaign.campaign_feature_icons %}

{% endunless %}

{% comment %}
  <table>
    <tr>
      <td>campaign_feature_heading</td>
      <td>{{ campaign_feature_heading }}</td>
    </tr>
    <tr>
      <td>campaign_feature_titles</td>
      <td>{{ campaign_feature_titles }}</td>
    </tr>
    <tr>
      <td>campaign_feature_icons</td>
      <td>{{ campaign_feature_icons }}</td>
    </tr>
  </table>
{% endcomment %}

{% comment %}
  ==============================================================================
{% endcomment %}


<div class="wrapper text-center">

  {% if campaign_feature_heading != blank %}
    <h4>{{ campaign_feature_heading | escape }}</h4>
  {% endif %}

  {% unless campaign_feature_titles == blank and campaign_feature_icons == blank %}
    {% assign campaign_feature_titles = campaign_feature_titles | split: '---' %}
    {% assign campaign_feature_icons = campaign_feature_icons | split: '---' %}

    <div class="grid-uniform">
      {% for campaign_feature_title in campaign_feature_titles %}
        {% assign campaign_feature_icon = campaign_feature_icons[forloop.index0] %}
        <div class="grid__item small--one-full medium--one-third large--one-sixth product__feature">
          {% if campaign_feature_icon != blank %}
            {{ campaign_feature_icon | img_tag: block.settings.icon.alt, 'product__feature__icon' }}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if campaign_feature_title != blank %}
            <p class="product__feature__text">
              {{ campaign_feature_title }}
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endunless %}

{% comment %}
  {% if section.blocks.size > 0 %}
    <div class="grid-uniform">
      {% for block in section.blocks %}
        <div class="grid__item small--one-full medium--one-third large--one-sixth product__feature" {{ block.shopify_attributes }}>
          {% if block.settings.icon != blank %}
            {{ block.settings.icon | img_url: '160x160', scale: 2 | img_tag: block.settings.icon.alt, 'product__feature__icon' }}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.title != blank %}
            <p class="product__feature__text">
              {{ block.settings.title }}
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endcomment %}

</div>