<!-- /snippets/page-campagin-top.liquid -->
{% unless section == blank %}

  {% assign banner_video_url = section.settings.banner_video_url %}
  {% assign banner_content = section.settings.banner_content %}
  {% assign top_content_image = '' %}
  {% unless section.settings.top_content_image == blank %}
    {% assign top_content_image = section.settings.top_content_image | img_url: '800x' %}
  {% endunless %}
  {% assign top_content = section.settings.top_content %}

  {% assign image_urls = '' %}
  {% for block in section.blocks %}
    {% unless block.settings.image == blank %}
      {% assign image_url = block.settings.image | img_url: '800x' %}
      {% unless image_urls == '' %}
        {% assign image_urls = image_urls | append: '---' %}
      {% endunless %}
      {% assign image_urls = image_urls | append: image_url %}
    {% endunless %}
  {% endfor %}

{% else %}

  {% assign banner_video_url = page.metafields.campaign.banner_video_url %}
  {% assign banner_content = page.metafields.campaign.banner_content %}
  {% assign top_content_image = page.metafields.campaign.top_content_image %}
  {% assign top_content = page.metafields.campaign.top_content %}
  {% assign image_urls = page.metafields.campaign.image_urls %}

{% endunless %}

{% comment %}
  <table>
    <tr>
      <td>banner_video_url</td>
      <td>{{ banner_video_url }}</td>
    </tr>
    <tr>
      <td>banner_content</td>
      <td>{{ banner_content }}</td>
    </tr>
    <tr>
      <td>top_content_image</td>
      <td>{{ top_content_image }}</td>
    </tr>
    <tr>
      <td>top_content</td>
      <td>{{ top_content }}</td>
    </tr>
    <tr>
      <td>image_urls</td>
      <td>{{ image_urls }}</td>
    </tr>
  </table>
{% endcomment %}

{% comment %}
  ==============================================================================
{% endcomment %}

{% assign banner_video_watch_url = banner_video_url | split: 'watch?v=' %}
{% unless banner_video_watch_url[1] == blank %}
  {% assign youtube_video_id = banner_video_watch_url[1] %}
{% else %}
  {% assign banner_video_youtube_url = banner_video_url | split: 'https://youtu.be/' %}
  {% if banner_video_youtube_url[1] != blank %}
    {% assign youtube_video_id = banner_video_youtube_url[1] %}
  {% endif %}
{% endunless %}
{% assign youtube_video_id = '' %}
{% unless youtube_video_id == blank and banner_content == blank %}
  <section class="campaign__banner">
    {% assign loop = '1' %}
    {% assign mute = '1' %}
    {% unless youtube_video_id == blank %}
      <div class="campaign__banner__video">
          <iframe
           id="videoBG"
           class="{{ section.settings.height }}"
           src="https://www.youtube.com/embed/{{ youtube_video_id }}?controls=0&showinfo=0&rel=0&autoplay=1&loop={{ loop }}&playlist={{ youtube_video_id }}&mute={{ mute }}"
           frameborder="0" allowfullscreen></iframe>
      </div>
    {% endunless %}

    {% unless banner_content == blank %}
      <div class="campaign__banner__content">
        <div class="wrapper text-center">
          <div class="grid">
            <div class="grid__item large--ten-twelfths push--large--one-twelfth">
              <h2>{{ banner_content }}</h2>
            </div>
          </div>
        </div>
      </div>
    {% endunless %}
  </section>
{% endunless %}

<section class="campaign__content page-margin">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">
        <div class="campaign__content__grid grid">
          <div class="campaign__content__image grid__item large--one-half">
            <img src="{{ top_content_image }}" />
          </div>
          <div class="campaign__content__text grid__item large--one-half">
            <div class="rte">
              {{ top_content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign image_urls = image_urls | split: '---' %}
<section class="campaign__gallery page-margin">
  <div class="wrapper">
    <div class="grid" data-section-type="campaign-gallery">
      {% for image_url in image_urls %}
        <div class="grid__item medium--one-third large--one-third">
          <img src="{{ image_url }}">
        </div>
      {% endfor %}
    </div>
  </div>
</section>