<!-- /snippets/search-bar.liquid -->
<form action="/search" method="get" class="input-group search-bar" role="search">
  {% if settings.search_only_products %}<input type="hidden" name="type" value="product">{% endif %}
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
  <span class="input-group-btn">
    <button type="submit" class="btn btn--clear uppercase icon-fallback-text">
      <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
      <span class="icon icon-search" aria-hidden="true"></span>
    </button>
  </span>
</form>
