{% assign button_href = shortcode_href | default: false %}

{% assign button_text = false %}

{% for attribute in attribute_titles %}
  {% if attribute == "text" %}
    {% assign button_text = attribute_values[forloop.index0] %}
  {% endif %}
{% endfor %}

{% if button_href and button_text %}
  <p class="text-center">
    <a href="{{ button_href }}" class="btn btn--clear btn--square uppercase">{{ button_text }}</a>
  </p>
{% endif %}