<ul class="social-icons grid__item inline-list">
  {% if settings.social_twitter_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter" target="_blank" itemprop="sameAs">
      <span class="icon icon-twitter" aria-hidden="true"></span>
      <span class="fallback-text">Twitter</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank" itemprop="sameAs">
      <span class="icon icon-facebook" aria-hidden="true"></span>
      <span class="fallback-text">Facebook</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank" itemprop="sameAs">
      <span class="icon icon-instagram" aria-hidden="true"></span>
      <span class="fallback-text">Instagram</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest" target="_blank" itemprop="sameAs">
      <span class="icon icon-pinterest" aria-hidden="true"></span>
      <span class="fallback-text">Pinterest</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_google_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_google_link }}" title="{{ shop.name }} on Google Plus" target="_blank" itemprop="sameAs">
      <span class="icon icon-google_plus" aria-hidden="true"></span>
      <span class="fallback-text">Google Plus</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on Youtube" target="_blank" itemprop="sameAs">
      <span class="icon icon-youtube" aria-hidden="true"></span>
      <span class="fallback-text">Youtube</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_vimeo_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_vimeo_link }}" title="{{ shop.name }} on Vimeo" target="_blank" itemprop="sameAs">
      <span class="icon icon-vimeo" aria-hidden="true"></span>
      <span class="fallback-text">Vimeo</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_tumblr_link }}" title="{{ shop.name }} on Tumblr" target="_blank" itemprop="sameAs">
      <span class="icon icon-tumblr" aria-hidden="true"></span>
      <span class="fallback-text">Tumblr</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_fancy_link != blank %}
  <li>
    <a class="icon-fallback-text" href="{{ settings.social_fancy_link }}" title="{{ shop.name }} on Fancy" target="_blank" itemprop="sameAs">
      <span class="icon icon-fancy" aria-hidden="true"></span>
      <span class="fallback-text">Fancy</span>
    </a>
  </li>
  {% endif %}
</ul>
