<form id="support-search" action="/search" data-behavior="blog-search" data-section-type="support-search">
  <input type="hidden" name="type" value="article" />
  <input type="hidden" name="view" value="support" />
  {% unless author_prefix == blank %}
    <input type="hidden" name="q" value="author:'{{ author_prefix }}'" />
  {% endunless %}

  <input type="text" id="support-search-input" class="search-input" placeholder="Search" data-ref="search-input" required isp_ignore />

  <button type="submit" class="btn">Search</button>
</form>
