<section style="padding: 5rem 0; background-color: #f9f9f9;">
  <div class="wrapper">

    <div class="text-center">
      <div class="grid">
        <div class="grid__item large--one-half push--large--one-quarter">
          <h2>Help Topics</h2>
          <p>Questions answered by specific topic.</p>
        </div>
      </div>
    </div>

    <br />

    <div class="blog__topics">
      <div class="grid-uniform">
        {% for block in section.blocks %}
          <div class="grid__item medium--one-third large--one-third blog__topic" {{ block.shopify_attributes }}>

            <h4>{{ block.settings.title }}</h4>

            <ul>
              {% for article in blogs.support.articles %}
                {% if article.tags contains block.settings.title %}
                  <li class="blog__topic__item">
                    <a class="blog__topic__link" href="{{ article.url }}">{{ article.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              <li>
                <a href="/blogs/support/tagged/{{ block.settings.title | handle }}" class="blog__topic__link blog__topic__link--more">Read All Answers</a>
              </li>
            </ul>

          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>


{% schema %}
  {
    "name": "Help Topics",
    "settings": [
    ],
    "blocks": [
      {
        "type": "topic",
        "name": "Topic",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Topic Title",
            "info": "Matches the article tag"
          }
        ]
      }
    ]
  }
{% endschema %}
