<section style="background-color: #f9f9f9;">
  <div class="wrapper page-margin">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter text-center">

        {% unless section.settings.top_section_title == blank %}
          <h1 style="margin-bottom: .25em;">{{ section.settings.top_section_title | escape }}</h1>
        {% endunless %}

        {% unless section.settings.top_section_content == blank %}
          <div class="rte">
            {{ section.settings.top_section_content }}
          </div>
        {% endunless %}

        {% include 'support-search' %}

      </div>
    </div>
  </div>
</section>

<section style="padding: 5rem 0;">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--three-quarters push--large--one-eighth">

        {% assign current_tag = false %}
        {% if current_tags %}
          {% assign current_tag = current_tags.first %}
          <h1 class="title--flex">{{ current_tags.first }}</h1>
        {% else %}
          {% assign current_tag = 'FAQ' %}
          <h2 class="text-center">Frequently Asked Questions</h2>
        {% endif %}

        <div class="accordion" data-section-type="accordion">
          {% paginate blog.articles by 1000 %}
            {% for article in blog.articles %}
              {% if article.tags contains current_tag %}
                <div class="faq__item">
                  <h4 class="faq__item__question accordion-toggle">
                    <span>{{ article.title }}</span>
                    <i class="icon icon-plus"></i>
                  </h4>
                  <div class="faq__item__content accordion-content rte">
                    {{ article.content }}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endpaginate %}
        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog Support",
  "settings": [
    {
      "type": "header",
      "content": "Top Section"
    },
    {
      "type": "text",
      "id": "top_section_title",
      "label": "Title",
      "default": "We are here to help"
    },
    {
      "type": "richtext",
      "id": "top_section_content",
      "label": "Content",
      "default": "<p>Have a question? Great. We are here to help you 7 days a week and respond within 24 hours. Plus, you can find most answers to your questions right on this page.</p>"
    }
  ],
  "blocks": [
    {
      "type": "topic",
      "name": "Topic",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Topic Title",
          "info": "Matches the article tag"
        }
      ]
    }
  ]
}
{% endschema %}
