<!-- /sections/blog.liquid -->
{% assign sidebar_enable = false %}
{% if blog.all_tags != blank and section.settings.tags %}
  {% assign sidebar_enable = true %}
{% endif %}

{% if sidebar_enable %}
  {% assign blog_grid = 'large--one-half' %}
{% else %}
  {% assign blog_grid = 'large--one-third' %}
{% endif %}


{% assign blog_pagination = 12 %}
{% paginate blog.articles by blog_pagination %}

<div data-section-id="{{ section.id }}" data-section-type="blog">

  {% comment %}
  <div class="wrapper text-center">
    {% if current_tags == blank %}
      <h2>blank</h2>
    {% else %}
      <h2>{{ current_tags }}</h2>
    {% endif %}
  </div>
  {% endcomment %}

  <div class="blog">

    {% assign featured_article = articles[section.settings.featured_article] %}
    {% unless current_tags == blank %}
      {% for block in section.blocks %}
        {% assign tag = block.settings.title %}
        {% if current_tags contains tag %}
          {% unless block.settings.featured_article == blank %}
            {% assign featured_article = articles[block.settings.featured_article] %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    {% endunless %}
    {% unless featured_article == blank %}
      <div class="blog__featured-article">
        <div class="grid--full homepage-double equalOverflowHeight use_screen_two_thirds">

          <div class="grid__item large--one-half medium--one-half double__block homepage-image preventOverflow">
            <a href="{{ featured_article.url }}">
              <div class="content--centered">
                <div class="preventOverflowContent">
                </div>
              </div>
              <div class="background-size-cover" style="{% if featured_article.image %}background-image: url('{{ featured_article.image | img_url: '1500x' }}');{% else %} background-color: #f2f2f2;{% endif %}"></div>
            </a>
          </div>

          <div class="grid__item large--one-half medium--one-half double__block homepage--splash preventOverflow">
            <div class="text-left content--centered">
              <div class="preventOverflowContent">

                {% include 'article-category-and-date' with the_article: featured_article %}

                <h4 class="home__subtitle">{{ featured_article.title }}</h4>

                <div class="rte rte--homepage">
                  {% if featured_article.excerpt == blank %}
                    <p>{{ featured_article.content | strip_html | truncate: 200 }}</p>
                  {% else %}
                    <p>{{ featured_article.excerpt | strip_html | truncate: 200 }}</p>
                  {% endif %}
                </div>

                <a class="btn btn--clear btn--large uppercase" href="{{ featured_article.url }}">
                  Featured Article
                </a>

              </div>
            </div>
          </div>

        </div>
      </div>
    {% endunless %}

    <div class="blog__categories-nav">
      <div class="wrapper text-center">
        <ul class="blog__categories__nav inline-list">
          {% for block in section.blocks %}
            {% assign tag = block.settings.title %}
            <li>
              {% if current_tags contains tag %}
                <strong>{{ tag }}</strong>
              {% else %}
                <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}">{{ tag }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="blog__articles">
      <div class="wrapper">

        <div class="grid">

          <div class="grid__item large--ten-twelfths push--large--one-twelfth">

            {% assign blog_title = blog.title %}
            {% unless section.settings.heading == blank %}
              {% assign blog_title = section.settings.heading %}
            {% endunless %}
            {% if current_tags %}
              {% assign blog_title = current_tags.first %}
            {% endif %}
            <h4 class="blog__title title h4">{{ blog_title }}</h4>
            <hr class="hr--small">

            <div class="grid-uniform">
              {% for article in blog.articles %}
                {% include 'article-grid-item' %}
              {% endfor %}
            </div>

            {% if paginate.pages > 1 %}
              <div class="text-center large--text-right">
                {% include 'pagination-custom' %}
              </div>
            {% endif %}

          </div>

          {% if sidebar_enable %}
          <div class="grid__item large--one-third blog__sidebar">
            <h1 class="uppercase h4">{{ blog.title }}</h1>
            <a class="icon-fallback-text blog__rss" href="{{ blog.url }}.atom" title="{{ shop.name }} RSS" target="_blank">
              <span class="icon icon-rss"></span>
              <span class="fallback-text">RSS</span>
            </a>
            <hr class="hr--small">
            {% if blog.all_tags != blank %}
            <h5 class="uppercase h5">{{ 'blogs.article.tags' | t }}</h5>
              {% for tag in blog.all_tags %}
                <a class="blog__tag" href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
              {% endfor %}
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if current_tags == blank %}
      {% assign featured_video = section.settings.featured_video %}
      {% unless featured_video == blank %}
        <div class="blog__featured-video">
          <div class="wrapper">
            <div class="grid">
              <div class="grid__item large--ten-twelfths push--large--one-twelfth">

                <h4 class="blog__title title h4">Featured Video</h4>
                <hr class="hr--small">

                {% assign article = articles[featured_video] %}
                <h4>{{ featured_video.title }}</h4>
                <div class="grid">
                  {% include 'article-grid-item' %}
                </div>

              </div>
            </div>
          </div>
        </div>
      {% endunless %}

      <div class="blog__cta">
        {% assign cta_background = section.settings.cta_background %}
        {% assign cta_heading = section.settings.cta_heading %}
        {% assign cta_content = section.settings.cta_content %}
        {% assign cta_btn_text = section.settings.cta_btn_text %}
        {% assign cta_btn_link = section.settings.cta_btn_link %}

        <div class="blog__cta__bg"{% unless cta_background == blank %} style="background-image:url({{ cta_background | img_url: '1600x' }});{% endunless %}"></div>

        <div class="blog__cta__body">
          <div class="wrapper">
            <div class="grid">
              <div class="grid__item large--ten-twelfths push--large--one-twelfth">
                <div class="grid">
                  <div class="grid__item large--one-half">
                    <h2 class="blog__cta__heading">{{ cta_heading }}</h2>
                    <div class="blog__cta__content rte">{{ cta_content }}</div>
                    <a href="{{ cta_btn_link }}" class="btn btn--large btn--clear uppercase">{{ cta_btn_text }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blog__categories">
        <div class="wrapper">
          <div class="grid">
            <div class="grid__item large--ten-twelfths push--large--one-twelfth">

              <h4 class="blog__title title h4">Daily Muse Categories</h4>
              <hr class="hr--small">

              <div class="grid">
                {% for block in section.blocks %}
                  {% assign tag = block.settings.title %}
                  {% assign image = false %}
                  {% unless block.settings.featured_article == blank %}
                    {% assign featured_article = articles[block.settings.featured_article] %}
                    {% assign image = featured_article.image %}
                  {% endunless %}

                  {% assign col_width = 'large--one-half' %}
                  {% if forloop.index > 2 %}
                    {% assign col_width = 'large--one-third' %}
                  {% endif %}
                  <div class="grid__item {{ col_width }} blog__category-block">

                    <div class="blog__category-block__image"{% unless image == blank %} style="background-image:url({{ image | img_url: '800x' }});"{% endunless %}>
                    </div>

                    <div class="blog__category-block__body">
                      <h4 class="blog__category-block__heading">{{ tag }}</h4>
                      <a class="blog__category-block__link" href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}">See all stories</a>
                    </div>

                  </div>
                {% endfor %}
              </div>

            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>
{% endpaginate %}


{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "article",
        "id": "featured_article",
        "label": "Featured article"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "header",
        "content": "Featured Video"
      },
      {
        "type": "article",
        "id": "featured_video",
        "label": "Featured video"
      },
      {
        "type": "header",
        "content": "CTA"
      },
      {
        "type": "image_picker",
        "id": "cta_background",
        "label": "CTA background"
      },
      {
        "type": "text",
        "id": "cta_heading",
        "label": "CTA heading"
      },
      {
        "type": "richtext",
        "id": "cta_content",
        "label": "CTA content"
      },
      {
        "type": "text",
        "id": "cta_btn_text",
        "label": "CTA button text"
      },
      {
        "type": "url",
        "id": "cta_btn_link",
        "label": "CTA button link"
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Category"
          },
          {
            "type": "article",
            "id": "featured_article",
            "label": "Featured article"
          }
        ]
      }
    ]
  }
{% endschema %}
