<footer class="site-footer-wrapper" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer" itemscope itemtype="http://schema.org/Organization">

  <div class="wrapper site-footer">

    <div class="section-divider"></div>

    <div class="grid-uniform">

      {% if section.blocks.size == 0 %}
        <div class="footer__newsletter grid__item large--one-half push--large--one-quarter">
          <h5 class="text-center">{{ 'layout.footer.newsletter_title' | t }}</h5>
          {% include 'newsletter-form' %}
        </div>
      {% endif %}

      {% case section.blocks.size %}
        {% when 0 %}
        {% when 1 %}
          {% assign footer_column_width = 'large--one-half push--large--one-quarter' %}
        {% when 2 %}
          {% assign footer_column_width = 'large--one-half' %}
        {% when 3 %}
          {% assign footer_column_width = 'large--one-third' %}
        {% when 4 %}
            {% assign footer_column_width = 'large--one-quarter' %}
      {% endcase %}

      {% for block in section.blocks %}
        {% case block.type %}

          {% when 'linklist' %}
            {% assign linklist = linklists[block.settings.linklist] %}
            <div class="grid__item {{ footer_column_width }}" {{ block.shopify_attributes }}>
              <h5 class="uppercase">{{ linklist.title }} </h5>
              <hr class="hr--underline">
              <ul class="footer-quicklinks">
                {% for link in linklist.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>

          {% when 'page' %}
            {% assign page = pages[block.settings.page] %}
            {% if page == blank or page.empty? %}
              <div class="grid__item {{ footer_column_width }}" {{ block.shopify_attributes }}>
                <h5 class="uppercase">{{ shop.name }}</h5>
                <hr class="hr--underline">
                <div class="rte">{{ 'home_page.onboarding.no_content' | t }}</div>
            </div>
            {% else %}
              <div class="grid__item {{ footer_column_width }}" {{ block.shopify_attributes }}>
                <h5 class="uppercase">{{ page.title | escape }}</h5>
                <hr class="hr--underline">
                <div class="rte">{{ page.content }}</div>
              </div>
            {% endif %}

          {% when 'text' %}
            <div class="grid__item {{ footer_column_width }}" {{ block.shopify_attributes }}>
              <h5 class="uppercase">{{ block.settings.title | escape }}</h5>
              <hr class="hr--underline">
              <div class="rte">{{ block.settings.text }}</div>
            </div>

          {% when 'newsletter' %}
            <div class="grid__item {{ footer_column_width }}" {{ block.shopify_attributes }}>
              <h5 class="uppercase">{{ 'layout.footer.newsletter_title' | t }}</h5>
              <hr class="hr--underline">
              <p>{{ block.settings.text }}</p>
              {% include 'newsletter-form' %}
            </div>

          {% else %}
        {% endcase %}
      {% endfor %}
    </div>

    <div class="grid">
      <div class="grid__item text-center">
        <ul class="footer__nav inline-list">
          {% for link in linklists[section.settings.footer_secondary_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if section.settings.footer_social_enable %}
      <div class="grid">
        <div class="footer-social">
          {% include 'social-icons' %}
        </div>
      </div>
    {% endif %}

    <div class="grid--rev">

      <div class="grid__item large--one-half">
        {% if section.settings.footer_payment_enable %}
          <ul class="footer__payment payment-icons grid__item inline-list">
<!--             <li>
              <span class="icon-fallback-text">
                <span class="icon icon-paypal" aria-hidden="true"></span>
                <span class="fallback-text">paypal</span>
              </span>
            </li> -->
            <li>
              <span class="icon-fallback-text">
                <span class="icon icon-visa" aria-hidden="true"></span>
                <span class="fallback-text">visa</span>
              </span>
            </li>
            <li>
              <span class="icon-fallback-text">
                <span class="icon icon-master" aria-hidden="true"></span>
                <span class="fallback-text">master</span>
              </span>
            </li>
            <li>
              <span class="icon-fallback-text">
                <span class="icon icon-american_express" aria-hidden="true"></span>
                <span class="fallback-text">american_express</span>
              </span>
            </li>
          </ul>
          {% comment %}
            {% unless shop.enabled_payment_types == empty %}
            {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,shopify_pay,visa' | split: ',' -%}
            <ul class="footer__payment footer-payment payment-icons grid__item inline-list">
              {% for type in shop.enabled_payment_types %}
                {% if payment_icons_available contains type %}
                <li>
                  <span class="icon-fallback-text">
                    <span class="icon icon-{{type}}" aria-hidden="true"></span>
                    <span class="fallback-text">{{type | replace: '_',' '}}</span>
                  </span>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
            {% endunless %}
          {% endcomment %}
        {% endif %}
      </div>

      <div class="grid__item large--one-half">
        <a class="footer__copyright"
           href="{{ shop.secure_url }}"
           itemprop="url">
         &copy; {{ 'now' | date: "%Y" }} LV Hair Inc. All prices in USD.
       </a>
      </div>

    </div>

  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Bottom bar"
    },
    {
      "type": "link_list",
      "id": "footer_secondary_linklist",
      "label": "Link List"
    },
    {
      "type": "checkbox",
      "id": "footer_payment_enable",
      "label": "Show payment types"
    },
    {
      "type": "checkbox",
      "id": "footer_social_enable",
      "label": "Show social icons"
    }
  ],
  "blocks" : [
    {
      "type": "linklist",
      "name": "Link list",
      "settings": [
        {
           "type": "link_list",
           "id": "linklist",
           "label": "Link list",
           "default": "main-menu"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Subscribers are under 'Accepts Marketing' in your [customer admin](/admin/customers).  Sync to Mailchimp with the official [Mailchimp app](https://apps.shopify.com/mailchimp)."
        },
        {
           "type": "textarea",
           "id": "text",
           "label": "Newsletter description",
           "default": "Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals."
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text column"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        }
      ]
    }
  ]
}
{% endschema %}
