<div class="header__wrapper" data-section-id="{{ section.id }}" data-section-type="header">

  {% if section.settings.header_enable_account or section.settings.header_enable_search or section.settings.header_message != '' %}
  <div class="info-bar showMobile">
    <div class="wrapper text-center">

      {% if shop.customer_accounts_enabled and section.settings.header_enable_account %}
        <div class="header-account-link">
          <a href="/account"><img src="{{ 'account.svg' | asset_url }}"></a>
        </div>
      {% endif %}


      {% if section.settings.header_message != '' %}

      {% if section.settings.header_message contains '[signup]' %}
        {% capture signup_link_html %}<a href="#" id="toggleSignUpModal" data-mfp-src="#SignUpModal">Sign Up</a>{% endcapture %}
        <div id="SignUpModal" class="modal modal--product modal--signup mfp-hide">
          <div class="text-center">
            {% unless section.settings.signup_popup_heading == blank %}
              <h2>{{ section.settings.signup_popup_heading }}</h2>
            {% endunless %}
            {% unless section.settings.signup_popup_content == blank %}
              <div class="rte">{{ section.settings.signup_popup_content }}</div>
            {% endunless %}
          </div>
          {% include 'newsletter-form' %}
        </div>
      {% endif %}

      <div class="header-message uppercase{% if section.settings.header_enable_account or section.settings.header_enable_search %} header-message--crowded{% endif %} rte">
        {{ section.settings.header_message | replace: '[signup]', signup_link_html }}
      </div>
      {% endif %}


      {% if section.settings.header_enable_search %}
        <div class="header-search__wrapper">
          <div class="header-search">
            <form action="/search" method="get" class="input-group search" role="search">
              {% if section.settings.search_only_products %}<input type="hidden" name="type" value="product">{% endif %}
              <input class="search-bar" type="search" name="q">
              <button type="submit" class="btn search-btn"></button>
            </form>
          </div>
        </div>
      {% endif %}

    </div>
  </div>
  {% endif %}

  <header class="site-header {{ section.settings.height }}" role="banner">
    <div class="wrapper">
      <div class="nav--desktop">
        {% include 'nav-contents-desktop' %}
      </div>
    </div>
    <div class="nav--mobile">
      {% include 'nav-contents-mobile' %}
    </div>
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type":    "range",
      "id":      "logo_max_limit",
      "min":     5,
      "max":     495,
      "step":    5,
      "unit":    "px",
      "label":   "Custom logo width",
      "default": 250
    },
    {
      "type": "link_list",
      "label": "Menu (Left)",
      "id": "main_menu_linklist_left"
    },
    {
      "type": "link_list",
      "label": "Menu (Right)",
      "id": "main_menu_linklist_right"
    },
    {
      "type": "select",
      "label": "Height",
      "id": "height",
      "default": "header--medium",
      "options": [
        { "value": "header--small", "label": "Small"},
        { "value": "header--medium", "label": "Medium"},
        { "value": "header--large", "label": "Large"},
        { "value": "header--xl", "label": "Extra Large"}
      ]
    },
    {
      "type": "header",
      "content": "Meganav image"
    },
    {
      "type": "image_picker",
      "id": "meganav_image",
      "label": "Meganav image",
      "info": "500 x 800px .jpg max"
    },
    {
      "type": "url",
      "id": "meganav_link",
      "label": "Meganav Image Link"
    },
    {
      "type": "header",
      "content": "Top Bar"
    },
    {
      "type": "richtext",
      "id": "header_message",
      "label": "Announcement content",
      "info": "45 characters or less recommended"
    },
    {
      "type": "checkbox",
      "id": "header_enable_account",
      "default": true,
      "label": "Show account link in header"
    },
    {
      "type": "checkbox",
      "id": "header_enable_search",
      "default": true,
      "label": "Show search in header"
    },
    {
      "type": "checkbox",
      "id": "search_only_products",
      "label": "Only search products"
    },
    {
      "type": "header",
      "content": "Signup Popup"
    },
    {
      "type": "text",
      "id": "signup_popup_heading",
      "label": "Heading",
      "default": "Get a sneak peek."
    },
    {
      "type": "richtext",
      "id": "signup_popup_content",
      "label": "Content",
      "default": "<p>Sign up to see what we’ve been working on and claim first dibs on all new product launches. Stay in the know, on the go.</p>"
    }
  ]
}
{% endschema %}
