{%- if section.settings.image -%}
  {%- assign background_image = section.settings.image | img_url: '1800x' -%}
{%- else -%}
  {%- assign background_image = 'blank.svg' | asset_url -%}
{%- endif -%}

{% capture section_responsive_class %}{% if section.settings.hide_on_mobile %} small--hide medium--hide{% endif %}{% if section.settings.hide_on_desktop %} large--hide{% endif %}{% endcapture %}
<div
 class="homepage-image preventOverflow {{ section.settings.height }} {{ section.settings.color }} {{ section_responsive_class }}"
 data-section-id="{{ section.id }}"
 data-section-type="banner"
 {% if section.settings.parallax %}data-img-src="{{ background_image }}"{% endif %}>
  {% if section.settings.link_text == '' and section.settings.link and section.settings.button_image == nil %}
    <a href="{{ section.settings.link }}">
  {% endif %}
  <div class="content--centered">
    <div class="{{ section.settings.text_align }} preventOverflowContent">
      {% if section.settings.button_image %}
        <a href="{{ section.settings.link }}">
          <img src="{{ section.settings.button_image | img_url: '1000x' }}" alt="{{ section.settings.button_image.alt | default: section.settings.link_text }}" class="image--flex" />
        </a>
      {% else %}
        {% unless section.settings.title == '' %}<h1 class="title--flex">{{ section.settings.title | escape }}</h1>{% endunless %}
        {% unless section.settings.description == '' %}<p class="content--flex h4--body">{{ section.settings.description }}</p>{% endunless %}
        {% unless section.settings.link_text == '' %}<a class="{{ section.settings.button_style }}" href="{{ section.settings.link }}">{{ section.settings.link_text | escape }}</a>{% endunless %}
      {% endif %}
    </div>
  </div>
  <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
  {% if section.settings.height == 'use_image' %}
    <img src="{{ background_image }}" alt="{{ section.settings.image.alt | default: shop.name }}" class="responsive-wide-image"{% if section.settings.parallax %} style="opacity: 0;"{% endif %}/>
  {% endif %}
  {% if section.settings.parallax == false and section.settings.height != 'use_image' %}
    <div class="background-size-cover" style="background-image: url('{{ background_image }}');"></div>
  {% endif %}
  {% if section.settings.link_text == '' and section.settings.link and section.settings.button_image == nil %}
    </a>
  {% endif %}

  {% comment %}
    {% if section.settings.height == 'use_screen_full' %}
    <div class="scroll_icon_wrap">
      <a href="#scroll-{{ section.id }}" class="scroll_link bloop">
        <span class="scroll_icon">{% include 'svg-down' %}</span>
      </a>
    </div>
    <div class="scroll__link" id="scroll-{{ section.id }}"></div>
    {% endif %}
  {% endcomment %}
</div>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_on_mobile",
      "label": "Hide on mobile?"
    },
    {
      "type": "checkbox",
      "id": "hide_on_desktop",
      "label": "Hide on desktop?"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "use_screen_two_thirds",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height"},
        { "value": "use_screen_two_thirds", "label": "Tall"},
        { "value": "use_screen_one_half", "label": "Medium"},
        { "value": "use_screen_one_third", "label": "Short"},
        { "value": "use_image", "label": "Image height"}
      ]
    },
    {
      "type":    "range",
      "id":      "overlay_opacity",
      "min":     0,
      "max":     100,
      "step":    5,
      "label":   "Image overlay opacity",
      "info":    "Increase contrast for legible text.",
      "default": 15
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "default": false,
      "label": "Enable parallax scroll"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Headline",
      "default": "Image with text overlay"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "This area is used to describe your store."
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Alignment",
      "default": "text-center",
      "options": [
        { "value": "text-left", "label": "Align Left"},
        { "value": "text-center", "label": "Align Center"},
        { "value": "text-right", "label": "Align Right"}
      ]
    },
    {
      "type": "select",
      "id": "color",
      "label": "Text color",
      "default": "homepage--white",
      "options": [
        { "value": "homepage--white", "label": "White"},
        { "value": "homepage--light", "label": "Light"},
        { "value": "homepage--splash", "label": "Accent"},
        { "value": "homepage--dark", "label": "Dark"}
      ]
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Text",
      "default": "View products",
      "info": "Leave blank to link entire image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "btn btn--large btn--clear btn--wide uppercase",
      "options": [
        { "value": "btn btn--large btn--black btn--wide uppercase", "label": "Black"},
        { "value": "btn btn--large btn--white btn--wide uppercase", "label": "White"},
        { "value": "btn btn--large btn--clear btn--wide uppercase", "label": "Transparent square"},
        { "value": "btn btn--large btn--outline btn--wide uppercase", "label": "Outlined square"}
      ]
    },
    {
      "type": "header",
      "content": "Button image (optional)"
    },
    {
      "type": "image_picker",
      "id": "button_image",
      "label": "Button image",
      "info": "1000 x 1000px .png max"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
