{% assign image = section.settings.image %}
{% assign title = section.settings.title %}
{% assign content = section.settings.content %}
{% assign hide_on_mobile = section.settings.hide_on_mobile %}
{% assign overlay_on_mobile = section.settings.overlay_on_mobile %}
<div class="homepage-tiles homepage-columns {{ section.settings.homepage_columns_color }}{% if hide_on_mobile %} _small--hide{% endif %}">

  <div class="small--hide">
    <div class="wrapper--full">

      <div class="tile-items">
        <div class="grid grid--full">

          <div class="grid__item large--one-half">
            <div class="tile-item tile-item--large">

              {% unless image == blank %}
                <div class="tile-item__bg{% if overlay_on_mobile %} tile-item__bg--mobile-overlay{% endif %}" style="background-image:url({{ image | img_url: '1000x' }});"></div>
              {% endunless %}

              <div class="tile-item__body">
                {% unless title == blank %}
                  <h4 class="tile-item__heading underline">{{ title }}</h4>
                {% endunless %}
                {% unless content == blank %}
                  <div class="tile-item__content rte">{{ content }}</div>
                {% endunless %}
              </div>

            </div>
          </div>

          <div class="grid__item large--one-half">
            <div class="grid grid--full">
              {% for block in section.blocks %}
                {% assign image = block.settings.image %}
                {% assign title = block.settings.title %}
                {% assign content = block.settings.content %}
                {% assign hide_on_mobile = block.settings.hide_on_mobile %}
                {% assign overlay_on_mobile = block.settings.overlay_on_mobile %}

                <div class="grid__item medium--one-half large--one-half{% if hide_on_mobile %} small--hide{% endif %}" {{ block.shopify_attributes }}>
                  <div class="tile-item">

                    {% unless image == blank %}
                      <div class="tile-item__bg{% if overlay_on_mobile %} tile-item__bg--mobile-overlay{% endif %}" style="background-image:url({{ image | img_url: '800x' }});"></div>
                    {% endunless %}

                    <div class="tile-item__body">
                      {% unless title == blank %}
                        <h4 class="tile-item__heading underline">{{ title }}</h4>
                      {% endunless %}
                      {% unless content == blank %}
                        <div class="tile-item__content rte">{{ content }}</div>
                      {% endunless %}
                    </div>

                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="medium--hide large--hide">

    <div class="wrapper--full">

      <div data-section-id="{{ section.id }}"
           data-section-type="slideshow">
        <div id="slideshow-{{ section.id }}">

          {% assign image = section.settings.image %}
          {% unless image == blank %}
            <div>
              <div class="tile-item">
                <div class="tile-item__bg" style="background-image:url({{ image | img_url: '600x' }});"></div>
              </div>
            </div>
          {% endunless %}
          {% for block in section.blocks %}
            {% assign image = block.settings.image %}
            {% unless image == blank %}
              <div>
                <div class="tile-item">
                  <div class="tile-item__bg" style="background-image:url({{ image | img_url: '600x' }});"></div>
                </div>
              </div>
            {% endunless %}
          {% endfor %}

        </div>
      </div>

      <div style="padding: 2.5rem 45px 0;">
        {% assign title = section.settings.title %}
        {% assign content = section.settings.content %}
        {% unless title == blank and content == blank %}
          <div class="tile-item__body">
            <h4 class="tile-item__heading underline">{{ title }}</h4>
            <div class="tile-item__content rte">{{ content }}</div>
          </div>
        {% endunless %}

        {% for block in section.blocks %}
          {% assign title = block.settings.title %}
          {% assign content = block.settings.content %}
          {% unless title == blank and content == blank %}
            <div class="tile-item__body">
              <h4 class="tile-item__heading underline">{{ title }}</h4>
              <div class="tile-item__content rte">{{ content }}</div>
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>

  </div>


</div>

{% schema %}
  {
    "name": "Tiles",
    "class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "homepage_columns_color",
        "label": "Background color",
        "default": "homepage--white",
        "options": [
          { "value": "homepage--white", "label": "White"},
          { "value": "homepage--light", "label": "Light"},
          { "value": "homepage--splash", "label": "Accent"},
          { "value": "homepage--dark", "label": "Dark"}
        ]
      },
      {
        "type": "header",
        "content": "Primary Tile Settings"
      },
      {
        "type": "checkbox",
        "id": "hide_on_mobile",
        "label": "Hide on mobile?"
      },
      {
        "type": "checkbox",
        "id": "overlay_on_mobile",
        "label": "Overlay on mobile?"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "content",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Morbi quis augue non augue posuere dapibus</p>"
      }
    ],
    "blocks": [
      {
        "type": "tile",
        "name": "Tile",
        "settings": [
          {
            "type": "checkbox",
            "id": "hide_on_mobile",
            "label": "Hide on mobile?"
          },
          {
            "type": "checkbox",
            "id": "overlay_on_mobile",
            "label": "Overlay on mobile?"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla repellat eius omnis nisi ex, placeat nobis eaque, excepturi sunt molestias esse necessitatibus minus dolorem. </p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tiles",
        "category": "Image",
        "blocks": [
          {
            "type": "tile"
          },
          {
            "type": "tile"
          },
          {
            "type": "tile"
          },
          {
            "type": "tile"
          }
        ]
      }
    ]
  }
{% endschema %}
