<!-- /sections/index-large-text.liquid -->

<div class="homepage-large-text" data-section-id="{{ section.id }}" data-section-type="index-page">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
          <div class="rte homepage-page__content">
            {{ section.settings.content }}
          </div>
        </div>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Large text",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Morbi quis augue non augue posuere dapibus in eu orci."
    }
  ],
  "presets": [{
    "name": "Large text",
    "category": "Text"
  }]
}
{% endschema %}
