<div class="homepage-image-columns {{ section.settings.homepage_columns_color }}">
  <div class="wrapper--full">

    {% if section.settings.title != blank %}
      <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
    {% endif %}

    <div class="grid grid-uniform">
      {%- assign grid_item_width = 'large--one-third medium--one-third' -%}
      {%- assign image_size = '700x' -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'large--one-full' -%}
        {% when 2 %}
          {%- assign grid_item_width = 'large--one-half medium--one-half' -%}
      {% endcase %}

      {% for block in section.blocks %}
        {% assign grid_classes = 'grid__item--single' %}
        {% if section.blocks.size == 2 %}
          {% assign grid_classes = 'grid__item--left' %}
          {% if forloop.index == 2 %}
            {% assign grid_classes = 'grid__item--right' %}
          {% endif %}
        {% endif %}
        {%- assign column_width = grid_item_width -%}
        <div class="grid__item {{ grid_classes }} {{ column_width }}" {{ block.shopify_attributes }}>
          <div class="{% if block.settings.full_width_desktop %}wrapper--full{% else %}wrapper--half{% endif %}{% if block.settings.full_width_mobile == false %} wrapper--mobile{% endif %}">

            {% if block.settings.enable_image %}
              {% if block.settings.image != blank %}
                {% if block.settings.button_label == blank and block.settings.button_link != blank %}
                  <a href="{{ block.settings.button_link }}">
                    <p>
                      {{ block.settings.image | img_url: image_size | img_tag }}
                    </p>
                  </a>
                  {% else%}
                  <div class="block__image">
                    {{ block.settings.image | img_url: image_size | img_tag }}
                  </div>
                {% endif %}
              {% else %}
                <div class="block__image">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            {% endif %}

            {% if block.settings.title != blank and block.settings.text != blank and block.settings.button_label != blank and block.settings.button_link != blank %}
              <div class="block__content">
                {% if block.settings.title != blank %}
                  <h5 class="h2">{{ block.settings.title | escape }}</h5>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="rte">{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                  <div class="small--text-center">
                    <a href="{{ block.settings.button_link }}" class="btn btn--clear btn--square btn--large uppercase">
                      {{ block.settings.button_label | escape }}
                    </a>
                  </div>
                {% endif %}
              </div>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Image columns",
    "class": "index-section",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text columns with images"
      },
      {
        "type": "select",
        "id": "homepage_columns_color",
        "label": "Background color",
        "default": "homepage--white",
        "options": [
          { "value": "homepage--white", "label": "White"},
          { "value": "homepage--light", "label": "Light"},
          { "value": "homepage--splash", "label": "Accent"},
          { "value": "homepage--dark", "label": "Dark"}
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "full_width_desktop",
            "label": "Full width block on desktop?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "full_width_mobile",
            "label": "Full width block on mobile?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "info": "Leave blank to link from image"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image columns",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
