<div class="wrapper">
  <div class="grid">
    <div class="grid__item large--ten-twelfths push--large--one-twelfth">

      <div class="grid-uniform">
        {%- for block in section.blocks -%}
          <div class="grid__item small--one-full medium--one-half large--one-third feature__item" {{ block.shopify_attributes }}>
            <div class="text-center">
              <img src="{{ block.settings.icon | img_url: '80x' }}" />
            </div>
            <h4 class="h3 underline">
              {{ block.settings.title }}
            </h4>
            <div class="rte">
              {{ block.settings.content }}
            </div>
          </div>
        {%- endfor -%}
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About Features",
    "class": "about__features",
    "settings": [
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
