{% include 'page-campaign-top' %}

{% schema %}
  {
    "name": "Campaign top",
    "class": "campaign--top",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "url",
        "id": "banner_video_url",
        "label": "Banner video",
        "info": "https:\/\/youtu.be\/bluL_iD1FBI"
      },
      {
        "type": "textarea",
        "id": "banner_content",
        "label": "Banner content",
        "default": "100% natural, raw, unrefined, USDA certified organic, extra virgin coconut oil with no added preservatives."
      },
      {
        "type": "header",
        "content": "Top content"
      },
      {
        "type": "image_picker",
        "id": "top_content_image",
        "label": "Content image"
      },
      {
        "type": "richtext",
        "id": "top_content",
        "label": "Content",
        "default": "<p>Discover the magic of our Pure Coconut Oil</p><p>Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a cras semper auctor neque vitae tempus quam pellentesque nec nam aliquam sem et tortor consequat</p>"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "400 x 600px .jpg recommended"
          }
        ]
      }
    ]
  }
{% endschema %}
