{% include 'page-campaign-bottom' %}

{% schema %}
  {
    "name": "Campaign bottom",
    "class": "campaign--bottom",
    "settings": [
      {
        "type": "header",
        "content": "Product"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product image"
      },
      {
        "type": "text",
        "id": "product_tagline",
        "label": "Product tagline",
        "default": "Coconut oil is one of the healthiest natural ingredients in the world."
      },
      {
        "type": "header",
        "content": "Benefits"
      },
      {
        "type": "text",
        "id": "benefits_heading",
        "label": "Benefits heading",
        "default": "Uses and benefits"
      },
      {
        "type": "paragraph",
        "content": "Benefit items are pulled from the blocks"
      },
      {
        "type": "header",
        "content": "Bottom block (left)"
      },
      {
        "type": "image_picker",
        "id": "bottom_content_left_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "bottom_content_left_text",
        "label": "Text",
        "default": "\"Love Hair Pure Coconut Oil drastically improved my hair.\""
      },
      {
        "type": "header",
        "content": "Bottom block (right)"
      },
      {
        "type": "image_picker",
        "id": "bottom_content_right_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "bottom_content_right_text",
        "label": "Text",
        "default": "\"Love Hair Pure Coconut Oil drastically improved my hair.\""
      },
      {
        "type": "header",
        "content": "CTA"
      },
      {
        "type": "image_picker",
        "id": "cta_image",
        "label": "CTA Image"
      },
      {
        "type": "text",
        "id": "cta_btn_text",
        "label": "Button text",
        "default": "Show Now"
      },
      {
        "type": "url",
        "id": "cta_btn_link",
        "label": "Button link"
      }
    ],
    "blocks": [
      {
        "type": "benefit",
        "name": "Benefit",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
