<div class="wrapper page-margin">

  {% if page.handle == 'faq-help' %}
    <div class="text-center">
      {% include 'support-search' %}
    </div>
  {% endif %}

  <div class="grid">
    <div class="grid__item medium--one-fifth large--one-fifth">
      {% if section.settings.sidebar_menu %}
        {% assign sidebar_menu = section.settings.sidebar_menu %}
        <nav class="utility-menu">
          <ul>
            {% for link in linklists[sidebar_menu].links %}
              {% if link.active %}
                <li class="nav-item active">
                  <strong>{{ link.title | escape }}</strong>
                </li>
              {% else %}
                <li class="nav-item">
                  <a href="{{ link.url }}" class="nav-link" title="{{ link.title | escape }}">{{ link.title | escape }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
    <div class="grid__item medium--four-fifths large--four-fifths">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Utility Page",
    "class": "section-page-utility",
    "settings": [
      {
        "type": "link_list",
        "label": "Sidebar Menu",
        "id": "sidebar_menu"
      }
    ]
  }
{% endschema %}
