<!-- /sections/page-about-large-text.liquid -->

<div class="homepage-large-text" data-section-id="{{ section.id }}" data-section-type="index-page">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
          <div class="rte homepage-page__content">
            {{ section.settings.content }}
          </div>
        </div>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Large text",
  "class": "about__large-text",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": "Love Hair is a conscious choice. For your hair and skin, for the environment, and for yourself."
    }
  ]
}
{% endschema %}
