{% include 'page-campaign-features' %}

{% schema %}
  {
    "name": "Features",
    "class": "campaign__features product__features bg--pink",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "The Scoop"
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon",
            "info": "150 x 150px .png recommended"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Features",
        "blocks": [
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}
