{%- if section.settings.image -%}
  {%- assign background_image = section.settings.image | img_url: '1800x' -%}
{%- else -%}
  {%- assign background_image = 'blank.svg' | asset_url -%}
{%- endif -%}

{%- assign background_image_mobile = background_image -%}
{%- if section.settings.image_mobile -%}
  {%- assign background_image_mobile = section.settings.image_mobile | img_url: '800x' -%}
{%- endif -%}

<div
 class="about__banner homepage-image preventOverflow {{ section.settings.height }} {{ section.settings.height_mobile }}"
 data-section-id="{{ section.id }}"
 data-section-type="banner">

  <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
  {% if section.settings.height == 'use_image' %}
    <img src="{{ background_image }}" alt="{{ section.settings.image.alt | default: shop.name }}" class="responsive-wide-image small--hide"/>
    <img src="{{ background_image_mobile }}" alt="{{ section.settings.image.alt | default: shop.name }}" class="responsive-wide-image medium--hide large--hide"/>
  {% else %}
    <div class="background-size-cover small--hide" style="background-image: url('{{ background_image }}');"></div>
    <div class="background-size-cover medium--hide large--hide" style="background-image: url('{{ background_image_mobile }}');"></div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Banner",
  "class": "section-about-banner-and-text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Background image (Mobile)"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Section height (Desktop)",
      "default": "use_screen_two_thirds",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height"},
        { "value": "use_screen_two_thirds", "label": "Tall"},
        { "value": "use_screen_one_half", "label": "Medium"},
        { "value": "use_screen_one_third", "label": "Short"},
        { "value": "use_image", "label": "Image height"}
      ]
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "Section height (Mobile)",
      "default": "mobile_use_screen_one_third",
      "options": [
        { "value": "mobile_use_screen_full", "label": "Full screen height"},
        { "value": "mobile_use_screen_two_thirds", "label": "Tall"},
        { "value": "mobile_use_screen_one_half", "label": "Medium"},
        { "value": "mobile_use_screen_one_third", "label": "Short"},
        { "value": "umobile_se_image", "label": "Image height"}
      ]
    },
    {
      "type":    "range",
      "id":      "overlay_opacity",
      "min":     0,
      "max":     100,
      "step":    5,
      "label":   "Image overlay opacity",
      "info":    "Increase contrast for legible text.",
      "default": 15
    },
    {
      "type": "header",
      "content": "Text"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
