<!-- /sections/password.liquid -->
{%- if section.settings.image -%}
  {%- assign background_image = section.settings.image | img_url: '1800x' -%}
{%- else -%}
  {%- assign background_image = 'password-page-background.jpg' | asset_url -%}
{%- endif -%}

{%- if section.settings.mobile_image -%}
  {%- assign mobile_background_image = section.settings.mobile_image | img_url: '1800x' -%}
{%- else -%}
  {%- assign mobile_background_image = section.settings.image | img_url: '1800x' -%}
{%- endif -%}

<div class="password__wrapper">
  
  <header class="password__header">
    <h2 class="password__hero">
      {% if section.settings.logo %}
      {% capture image_size %}800x{% endcapture %}
      <img src="{{ section.settings.logo | img_url: image_size }}"
           srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
           alt="{{ section.settings.logo.alt | default: shop.name }}"
           class="logo"
           itemprop="logo">
      {% else %}
      <span>{{ shop.name }}</span>
      {% endif %}
    </h2>
  </header>
  
  <div class="password__main" role="main">
    <div class="password__main__inner">
      <div class="password__box">

        {% comment %}
          Edit message at http://www.shopify.com/admin/online_store/preferences
        {% endcomment %}
        {% unless shop.password_message == blank %}
          <div class="password__message">
            {{ shop.password_message }}
          </div>
        {% endunless %}

        {% comment %}
          Signup form
        {% endcomment %}
        
        <h1 class="password__heading">{{ section.settings.heading_1 }}<strong>{{ section.settings.heading_2 }}</strong></h1>

        <div class="password__signup-form">
          {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
              <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
            {% else %}
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
              <div class="input-group newsletter-form">
                <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" autofocus>
                <span class="input-group-btn">
                  <button type="submit" name="commit" class="btn uppercase">
                    <span>{{ 'general.password_page.signup_form_submit' | t }}</span>
                  </button>
                </span>
              </div>
            {% endif %}
          {% endform %}
        </div>

        
        {% comment %}
        {% comment %}
          Share homepage URL
          Shared text is from the store meta description
        {% endcomment %}

        {% if settings.share_enable_facebook or settings.share_enable_twitter or settings.share_enable_google or settings.share_enable_pinterest %}
        <div class="password__social-sharing">
            {% capture link %}{{ shop.url }}{% endcapture %}
            {% capture title %}{{ shop.password_message | url_param_escape }}{% endcapture %}
            <div class="share text-center" data-permalink="{{ link }}">
              {% if settings.share_enable_facebook %}
                <a target="_blank" href="//www.facebook.com/sharer.php?u={{ link }}" class="share__link">
                  <span class="icon icon-facebook" aria-hidden="true"></span>
                  <span class="share__text">{{ 'general.share.facebook' | t }}</span>
                </a>
              {% endif %}
              {% if settings.share_enable_twitter %}
                <a target="_blank" href="//twitter.com/share?url={{ link }}&amp;text={{ shareTitle }}" class="share__link">
                  <span class="icon icon-twitter" aria-hidden="true"></span>
                  <span class="share__text">{{ 'general.share.twitter' | t }}</span>
                </a>
              {% endif %}
              {% if settings.share_enable_pinterest %}
                <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ link }}&amp;media={{ product.featured_image | product_img_url: '1024x1024' | prepend: 'http:' }}&amp;description={{ shareTitle }}" class="share__link">
                  <span class="icon icon-pinterest" aria-hidden="true"></span>
                  <span class="share__text">{{ 'general.share.pinterest' | t }}</span>
                </a>
              {% endif %}
              {% if settings.share_enable_google %}
                <a target="_blank" href="//plus.google.com/share?url={{ link }}" class="share__link">
                  <span class="icon icon-google" aria-hidden="true"></span>
                  <span class="share__text">{{ 'general.share.google' | t }}</span>
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% endcomment %}

      </div>
    </div>

  </div>

  <footer class="password__footer" role="contentinfo">
    <div class="password__footer__inner">
   
      <p class="password-login uppercase">
        <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
          {{ 'general.password_page.password_link' | t }}
        </a>
      </p>
  
      

      {% include 'social-icons' %}

      <!--
      <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank" itemprop="sameAs">
        <span class="icon icon-instagram" aria-hidden="true"></span>
        <span class="fallback-text">Instagram</span>
      </a>
	   -->
      
    </div>
  </footer>

</div>

<div id="LoginModal" class="password__login-form text-center mfp-hide">
  <p class="h4 title">{{ 'general.password_page.login_form_heading' | t }}</p>
  {% form 'storefront_password' %}
  {{ form.errors | default_errors }}
  <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
  <div class="input-group newsletter-form">
    <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
    <span class="input-group-btn">
      <button type="submit" name="commit" class="btn uppercase">
        <span>{{ 'general.password_page.login_form_submit' | t }}</span>
      </button>
    </span>
  </div>
  {% endform %}
  <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
</div>

{{ 'shop.js' | asset_url | script_tag }}

<script>

$(function() {
  $('.js-toggle-login-modal').magnificPopup({
    type: 'inline',
    mainClass: 'mfp-fade',
    closeOnBgClick: false,
    closeBtnInside: false,
    closeOnContentClick: false,
    tClose: 'x',
    removalDelay: 500,
    callbacks: {
      open: function() {
        window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
      },
      close: function() {
        window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
      }
    }
  });
  if ( $('.storefront-password-form .errors').size() ) {
    $('.js-toggle-login-modal').click();
  }
});
</script>
<style>
@media screen and (max-width: 768px) {
.password__wrapper {
  	background-image: url('{{ mobile_background_image }}');
  }
}
  @media screen and (min-width: 769px) {
.password__wrapper {
  	background-image: url('{{ background_image }}');
  }
}
</style>

{% schema %}
{
  "name": "Password page",
  "class": "password-section",
  "settings": [
    {
      "type": "text",
      "id": "heading_1",
      "label": "Heading 1",
      "default": "Get Ready To"
    },
    {
      "type": "text",
      "id": "heading_2",
      "label": "Heading 2",
      "default": "Fall In Love With Your Hair"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Background Image"
    },
	{
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Background Image"
    }
  ]
}
{% endschema %}
