<div class="wrapper">
  <div class="grid">
    <div class="grid__item large--eleven-twelfths push--large--one-twelfth">
      <div class="grid">
        <div class="grid__item meidum--one-half large--one-half">
          <div class="block__content">
            <h2>{{ section.settings.title }}</h2>
            <div class="rte">
              {{ section.settings.content }}
            </div>
          </div>
        </div>
        <div class="grid__item meidum--one-half large--one-half">
          {% unless section.settings.image == blank %}
            <img src="{{ section.settings.image | img_url: '800x' }}" />
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Text and Image",
    "class": "product__text-and-image",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Cocunut Oil Uses <br />and Benefits"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p><strong>Nourishing hair mask</strong><br />Apply the Coconut Oil to your hair, focusing on the ends. Leave it in for 30 minutes or more, then wash out with shampoo and enjoy silky, beautiful hair.</p><p><strong>Tame frizz and flyaways</strong><br />Rub a small amount of Coconut Oil between your fingertips. A little goes a long way! Smooth your fingertips over any flyaways and frizz for instant taming.</p><p><strong>High in antioxidants and Vitamin E</strong><br />Coconut Oil can help protect against environmental and free radical damage. It also helps with anti-aging, eczema, and scars.</p><p><strong>Nourish dry skin</strong><br />Coconut Oil is deeply moisturizing. Apply generously to your entire body for soft, glowing skin. It's moisturizing for your dry lips, too!</p><p><strong>Makeup remover</strong><br />Gently spread the oil over your eyelids, lashes, and eye area. Massage the oil in circular motions all over your face to remove the rest of your makeup. Use a warm, wet washclot to wipe off and proceed with the rest of your skin routine.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
