<div class="wrapper text-center">

  {% if section.settings.title != blank %}
    <h4>{{ section.settings.title | escape }}</h4>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="grid-uniform">
      {% for block in section.blocks %}
        <div class="grid__item small--one-full medium--one-third large--one-sixth product__feature" {{ block.shopify_attributes }}>
          {% if block.settings.icon != blank %}
            {{ block.settings.icon | img_url: '160x160', scale: 2 | img_tag: block.settings.icon.alt, 'product__feature__icon' }}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.title != blank %}
            <p class="product__feature__text">
              {{ block.settings.title }}
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

</div>

{% schema %}
  {
    "name": "The Scoop",
    "class": "product__features bg--pink",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "The Scoop"
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon",
            "info": "150 x 150px .png recommended"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Features",
        "blocks": [
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}
