<!-- /sections/index-video.liquid -->
{%- if section.settings.image -%}
  {%- assign background_image = section.settings.image | img_url: '1800x' -%}
{%- else -%}
  {%- assign background_image = 'blank.svg' | asset_url -%}
{%- endif -%}
<div class="wrapper">
  <div class="grid">
    <div class="grid__item large--ten-twelfths push--large--one-twelfth">
      
      <div class="medium--hide large--hide">
        {% if section.settings.video_embeded_code_mobile != blank %}
        {{ section.settings.video_embeded_code_mobile }}
        {% else %}
        {{ section.settings.video_embeded_code }}
        {% endif %}
      </div>
      
      <div class="small--hide">
      {% unless section.settings.video_embeded_code == blank %}
        {{ section.settings.video_embeded_code }}
      {% endunless %}
      </div>

      {% comment %}
      {% unless section.settings.video_link == '' %}
        {%- if section.settings.video_link.type == 'youtube' -%}
          {% capture video_link %}https://www.youtube.com/watch?v={{ section.settings.video_link.id }}{% endcapture %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ section.settings.video_link.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {%- endif -%}
      {% endunless %}
      {% endcomment %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured video",
  "class": "product__video",
  "settings": [
    {
      "type": "html",
      "id": "video_embeded_code",
      "label": "Desktop video embeded code"
    },
	{
      "type": "html",
      "id": "video_embeded_code_mobile",
      "label": "Mobile video embeded code"
    }
  ]
}
{% endschema %}
