<div data-section-type="product-faqs">
  <div class="wrapper">

    <div class="section-divider"></div>

    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter">

        <h4 class="h2 text-center">Frequently Asked Questions</h4>

        <div class="product-accordion">
          <div class="accordion">
            {%- for block in section.blocks -%}
              <p class="accordion-toggle" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
                <span>{{ block.settings.title }}</span>
                <i class="icon icon-plus"></i>
              </p>
              <div class="rte accordion-content">
                {{ block.settings.content }}
              </div>
            {%- endfor -%}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product FAQs",
    "class": "product__faqs",
    "max_blocks": 15,
    "settings": [
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "Faq",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}
