<div class="product-section" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-image-zoom-enable="{{ section.settings.zoom_enable }}">
  {% include 'product' %}
</div>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumbs",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity selection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_nav_enable",
      "label": "Show next/previous buttons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "zoom_enable",
      "label": "Enable image zoom"
    },
    {
      "type": "checkbox",
      "id": "related_products_enable",
      "label": "Show related products from collection",
      "default": true
    },
    {
      "type": "header",
      "content": "Optional sizing popup"
    },
    {
      "id": "info_page",
      "type": "page",
      "label": "Select page",
      "info": "This popup will show on every product."
    },
    {
      "type": "header",
      "content": "optional product tabs"
    },
    {
      "type": "select",
      "id": "tabs_position",
      "options": [
        { "value": "sidebar", "label": "Tabs beside image"},
        { "value": "below", "label": "Tabs below"}
      ],
      "label": "Tabs position",
      "default": "below"
    }
  ],
  "blocks": [
    {
      "type": "tab_description",
      "name": "Description H6",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Heading 6 titles will be converted to tab headings, tab content will be everything between the Heading 6 titles. [Product Tabs Documentation](http://help.groupthought.com/article/36-tabs)."
        }
      ]
    },
    {
      "type": "tab_richtext",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Label",
          "default": "Text tab",
          "info": "Example: Warranty policy"
        },
        {
          "type": "richtext",
          "id": "raw_content",
          "label": "Tab content",
          "default": "<p>This tab content type will accept <strong>rich text</strong> to help with adding styles and links to additional pages or content. Use this to add supplementary information to help your buyers.</p>"
        }
      ]
    },
    {
      "type": "tab_html",
      "name": "HTML",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Label",
          "default": "HTML tab",
          "info": "Example: Sizing video"
        },
        {
          "type": "html",
          "id": "raw_content",
          "label": "Tab content",
          "default": "<p>This tab content type will accept HTML code for advanced styling. Use this to add video embeds, or other advanced HTML content.</p>"
        }
      ]
    },
    {
      "type": "tab_page",
      "name": "Page",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Label",
          "default": "Page tab",
          "info": "Example: Size chart"
        },
        {
          "type": "page",
          "id": "raw_content",
          "label": "Tab content"
        }
      ]
    }
  ]
}


{% endschema %}
