{% assign instagram_grid_width_large = 'large--one-sixth' %}
{% assign instagram_grid_width_medium = 'medium--one-third' %}
{% assign instagram_grid_width_small = 'small--one-half' %}

{% case section.settings.instagram_grid_setting_large %}
  {% when 2 %}
    {% assign instagram_grid_width_large = 'large--one-half' %}
  {% when 3 %}
    {% assign instagram_grid_width_large = 'large--one-third' %}
  {% when 4 %}
    {% assign instagram_grid_width_large = 'large--one-quarter' %}
  {% when 5 %}
    {% assign instagram_grid_width_large = 'large--one-fifth' %}
  {% when 6 %}
    {% assign instagram_grid_width_large = 'large--one-sixth' %}
{% endcase %}

{% case section.settings.instagram_grid_setting_medium %}
  {% when 2 %}
    {% assign instagram_grid_width_medium = 'medium--one-half' %}
  {% when 3 %}
    {% assign instagram_grid_width_medium = 'medium--one-third' %}
  {% when 4 %}
    {% assign instagram_grid_width_medium = 'medium--one-quarter' %}
{% endcase %}

{% case section.settings.instagram_grid_setting_small %}
  {% when 2 %}
    {% assign instagram_grid_width_small = 'small--one-half' %}
  {% when 3 %}
    {% assign instagram_grid_width_small = 'small--one-third' %}
  {% when 4 %}
    {% assign instagram_grid_width_small = 'small--one-quarter' %}
{% endcase %}

<div class="homepage-instagram {{ section.settings.homepage_instagram_color }}"
     data-section-id="{{ section.id }}"
     data-section-type="instagram">
  <div class="wrapper">

    <div class="section-divider"></div>

    {% unless section.settings.title == '' %}
      <h4 class="home__subtitle h6">{{ section.settings.title | escape }}</h4>
    {% endunless %}

    <div class="grid">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">
        {% assign token = section.settings.token %}
        {% if token == '' %}
          <div class="grid-uniform">
            {% for i in (1..section.settings.instagram_photo_count) %}
              <div class="instagram-item grid__item {{instagram_grid_width_large}} {{instagram_grid_width_medium}} {{instagram_grid_width_small}}">
                <a href="#"
                   target="_blank"
                   style="background-color: #f2f2f2;"
                   class="instagram-item__bg">
                  <span class="icon icon-instagram"></span>
                </a>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div id="Instafeed-{{ section.id }}"
               class="grid-uniform"
               data-count="{{ section.settings.instagram_photo_count }}"
               data-access-token="{{ token }}"
               data-grid="{{instagram_grid_width_large}} {{instagram_grid_width_medium}} {{instagram_grid_width_small}}"></div>
        {% endif %}
      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Instagram feed",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Follow @lovehair on Instagram"
    },
    {
      "type": "select",
      "id": "homepage_instagram_color",
      "label": "Background color",
      "default": "homepage--white",
      "options": [
        { "value": "homepage--white", "label": "White"},
        { "value": "homepage--light", "label": "Light"},
        { "value": "homepage--splash", "label": "Accent"},
        { "value": "homepage--dark", "label": "Dark"}
      ]
    },
    {
      "type": "text",
      "id": "token",
      "label": "Instagram access token",
      "info": "[Generate Instagram access token](http://help.groupthought.com/article/25-create-an-instagram-token)"
    },
    {
      "type":    "range",
      "id":      "instagram_photo_count",
      "min":     1,
      "max":     12,
      "step":    1,
      "label":   "Number of photos to display",
      "default": 4
    },
    {
      "type": "header",
      "content": "Photos per row"
    },
    {
      "type":    "range",
      "id":      "instagram_grid_setting_large",
      "min":     2,
      "max":     6,
      "step":    1,
      "label":   "Desktop",
      "default": 4
    },
    {
      "type":    "range",
      "id":      "instagram_grid_setting_medium",
      "min":     2,
      "max":     4,
      "step":    1,
      "label":   "Tablet",
      "default": 4
    },
    {
      "type":    "range",
      "id":      "instagram_grid_setting_small",
      "min":     2,
      "max":     4,
      "step":    1,
      "label":   "Mobile",
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "Instagram feed",
      "category": "Social"
    }
  ]
}
{% endschema %}
