<div class="wrapper">

  <div class="small--hide">
    <div class="section-divider"></div>
  </div>

  <div class="grid">
    <div class="grid__item large--ten-twelfths push--large--one-twelfth">

      {%- unless section.settings.title == blank -%}
        <h4 class="h2 text-center">{{ section.settings.title }}</h4>
      {%- endunless -%}

      <div class="grid-uniform">
        {%- for block in section.blocks -%}
          <div class="grid__item small--one-full medium--one-half large--one-third feature__item" {{ block.shopify_attributes }}>
            <div class="text-center">
              <img src="{{ block.settings.icon | img_url: '60x' }}" />
            </div>
            <h4 class="h3 underline">
              {{ block.settings.title }}
            </h4>
            <div class="rte">
              {{ block.settings.content }}
            </div>
          </div>
        {%- endfor -%}
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Environment",
    "class": "product__environment",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "We care about sustainability and the environment. <br />Our packaging does, too."
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
