$small: 480px;
$medium: 768px;
$large: 769px;

$colorSplash: {{ settings.color_splash }};
$bodoniStdBook: 'conv_BodoniStd-Book';
$semplicitaPro: 'conv_SemplicitaPro';

.product__reviews{
  margin-bottom: 50px;
}

.yotpo-review-stars{
  margin-bottom: 20px;
  .bottomLine,
  .QABottomLine{
    display: inline-block;
    margin-right: 15px;
    .text-m{
      margin-left: 5px;
    }
  }
}

@media(min-width: $medium){
  .homepage-image{
    .title--flex{
      font-size:3.3em;
    }
  }
}