$small: 480px;
$medium: 768px;
$large: 769px;

$colorSplash: {{ settings.color_splash }};
$bodoniStdBook: 'conv_BodoniStd-Book';
$semplicitaPro: 'conv_SemplicitaPro';

#shopify-section-password {
  border: 15px solid #DBA5AB;
  font-family: $semplicitaPro;

  .password__wrapper {
    background-position: -7em center;
    @media(min-width: $medium){
      background-position: center center;
    }
  }

  .uppercase {
    font-family: $semplicitaPro;
  }

  .password__wrapper {
    @media only screen and (min-width: 769px) {
      background-position: 0 50%;
    }
  }

  .password__header {
    .password__hero .logo {
      max-width: 150px;
    }
  }

  .password__main {
    .errors {
      color: #ffffff;
      background-color: transparent;
      border-color: transparent;
    }

    .form-success {
      color: #ffffff;
      background-color: transparent;
      border-color: transparent;
    }

    .password__heading {
      margin-bottom: 0;
      font-family: $semplicitaPro;
      font-size: .8rem;
      font-weight: 700;
      letter-spacing: .1em;
      text-transform: uppercase;
      color: #fff;

      @media only screen and (min-width: 769px) {
        font-size: 1.4rem;
      }

      strong {
        display: block;
        margin-top: .25em;
        font-size: 2em;
        font-weight: 700;

        @media only screen and (min-width: 769px) {
          margin-top: 0;
          font-size: 2em;
        }
      }
    }

    .password__box,
    .password__login-form,
    .password__signup-form {
      background-color: transparent;
      box-shadow: none;
    }

    .password__signup-form {
      padding-top: 15px;
      padding-bottom: 30px;

      @media only screen and (min-width: 769px) {
        padding-bottom: 0;
      }
    }

    .password__box {
      width: 100%;
      max-width: 800px;
      padding: 30px 0;

      @media screen and (min-width: 480px) {
        padding: 30px 0;
      }
    }

    .newsletter-form {
      background-color: transparent;
      border: 0;

      .input-group-field, .input-group-btn {
        display: block;

        @media only screen and (min-width: 769px) {
          display: table-cell;
        }
      }

      .input-group-btn {
        width: 100%;
        margin-top: 1em;

        @media only screen and (min-width: 769px) {
          width: 1%;
          margin-top: 0;
        }
      }

      input[type="text"],
      .btn {
        font-family: $semplicitaPro;
      }

      input[type="text"] {
        width: 100%;
        @media(min-width: $medium){
          width: 95%;
        }
        border: 1px solid $colorSplash;
        border-radius: 0;
        color: #fff;

        &::-webkit-input-placeholder {
          color: #fff;
          opacity: .7;
        }
        &:-ms-input-placeholder {
          color: #fff;
          opacity: .7;
        }
        &::-moz-placeholder {
          color: #fff;
          opacity: .7;
        }
        &:-moz-placeholder {
          color: #fff;
          opacity: .7;
        }
      }

      .btn {
        padding: 8px 15px;
        font-weight: 700;
        font-size: .7em;
        line-height: 2.6em;
        background-color: $colorSplash;
        color: #000;
        border-radius: 0;
        -webkit-transition: .2s background-color ease-in-out;
        transition: .2s background-color ease-in-out;

        &:active,
        &:focus,
        &:hover {
          background-color: darken($colorSplash, 10%);
        }
      }
    }
  }

  .password__footer {

    .social-icons {
      margin: 0;
      padding: 0;

      li {
        margin: 0;

        + li {
          margin-left: 15px;
        }
      }

      a {
        display: block;
        margin: 0;
        font-size: 1.6em;
        color: $colorSplash;
        -webkit-transition: .2s color ease-in-out;
        transition: .2s color ease-in-out;

        &:active,
        &:focus,
        &:hover {
          color: darken($colorSplash, 10%);
        }
      }
    }
  }
}
