<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="15px" height="15px" viewBox="2.5 2.5 15 15" enable-background="new 2.5 2.5 15 15" xml:space="preserve">
<g>
	<path fill="{{ settings.color_header_text }}" d="M17.5,16.435L16.434,17.5l-3.975-3.976c-1.113,0.869-2.379,1.305-3.795,1.305c-0.817,0-1.603-0.156-2.354-0.468
		c-0.752-0.312-1.421-0.757-2.006-1.337c-0.579-0.577-1.023-1.244-1.335-1.995C2.656,10.276,2.5,9.487,2.5,8.664
		c0-0.825,0.156-1.613,0.467-2.365c0.311-0.751,0.756-1.417,1.335-1.996c0.585-0.579,1.254-1.023,2.006-1.335
		C7.061,2.657,7.846,2.5,8.664,2.5c0.825,0,1.613,0.155,2.367,0.468c0.75,0.312,1.416,0.756,1.996,1.335
		c0.585,0.579,1.034,1.245,1.346,1.996c0.311,0.752,0.467,1.541,0.467,2.365c0,1.409-0.438,2.675-1.312,3.795L17.5,16.435z
		 M5.362,11.96c0.912,0.912,2.013,1.37,3.302,1.37c1.292,0,2.392-0.458,3.305-1.37c0.907-0.906,1.359-2.004,1.359-3.294
		c0-1.284-0.452-2.386-1.359-3.304c-0.92-0.907-2.02-1.36-3.305-1.36c-1.29,0-2.388,0.454-3.293,1.36
		c-0.913,0.912-1.37,2.012-1.37,3.303C4.001,9.954,4.455,11.054,5.362,11.96z"/>
</g>
</svg>
