{% layout none %}

{% paginate blog.articles by 1000 %}
[
{% for article in blog.articles %}
  {
    "title":"{{ article.title | escape }}",
    "url":"\/blogs\/{{ article.handle }}"
  }{% if forloop.last == false %},{% endif %}
{% endfor %}
]
{% endpaginate %}