<!-- /templates/page.product-landing.liquid -->

<div class="campaign">

  {% include 'page-campaign-top' %}

  <div class="page-margin">
    {% include 'page-campaign-features' %}
  </div>

  {% include 'page-campaign-bottom' %}

  <div class="page-margin" style="background: #fff;">
    {% section 'section-instagram' %}
  </div>

</div>