<!-- /templates/page-campaign.liquid -->

<div class="campaign">

  {% section 'page-campaign-top' %}

  <div class="page-margin">
    {% section 'page-campaign-features' %}
  </div>

  {% section 'page-campaign-bottom' %}

  <div class="page-margin" style="background: #fff;">
    {% section 'section-instagram' %}
  </div>

</div>