{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    <!-- CSS ================================================== -->
    {{ 'style.scss.css' | asset_url | stylesheet_tag }}
    {{ 'password.scss.css' | asset_url | stylesheet_tag }}
    {% include 'fonts' %}

    <!-- JS ================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}

    <!-- jQuery v2.2.3 ======================================================== -->
    {{ 'jquery.min.js' | asset_url | script_tag }}

  </head>

  <body class="template-password">
    {% section 'password' %}
    {% include 'klaviyo' %}
  </body>
</html>
